.modal
  .modal-dialog.gallery-preview
  .modal-content
  .item-preview.audio-preview {
  min-height: 0;
  flex-direction: column;
}

.modal
  .modal-dialog.gallery-preview
  .modal-content
  .item-preview.video-preview {
  .block.video {
    width: 100%;

    .video-inner .ui.embed {
      aspect-ratio: 16/9;
      width: 100%;
      height: auto;
      background: unset;
      padding-bottom: unset;

      img.placeholder {
        cursor: auto;
      }
    }
  }
}
